
processEmtours/target/classes/META-INF/maven/de.wwu.wfm.camunda/processEmtours/pom.properties

processEmtours/.classpath

processEmtours/target/classes/META-INF/MANIFEST.MF

processEmtours/target/classes/META-INF/maven/de.wwu.wfm.camunda/processEmtours/pom.properties

processEmtours/.settings/org.eclipse.jdt.core.prefs

processEmtours/.project

processEmtours/target/classes/META-INF/MANIFEST.MF

*.MF
